@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Inter:wght@300;400;500;600;700&display=swap");
/* $font-size  with 14px = 0.875 rem;  //    14/16 från roten = 0,875*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  font-size: 16px;
  font-family: "Inter", sans-serif, Times, serif;
  font-weight: 400;
  color: rgba(25, 25, 25, 0.1);
  /* .button-yellow {     
      //  padding:15px 32px;
      //  border-radius: 25px;
      //  background-color: $colour-yellow-btn;
      //  border : none;
      //  position: relative;
      //  transition: all 0.3s ease-in-out;

      //      span{
      //          color: $colour-black;            
      //          position: relative;    
      //          top:5px;
      //          font-weight: $font-weght-semiBold-600;
      //          font-size: 1rem;
      //          margin-right: 10px;
      //      }
      //      &.hover{
      //          background-color: $colour-black;            
      //      } 

           border: none;
           color: rgba($colour-black, .1);
           background-color: $colour-yellow-btn;
           padding: 15px 32px;
           border-radius:30px;    
           transition: all 0.3s ease-in-out;


           &:hover{
               background-color: $colour-black;
               color: $colour-white;
           }

           i{
               margin-left: 9px;
               font-size: 1em;
           }



   }
    */
}
body a, html a {
  text-decoration: none;
}

.button-yellow {
  /*  padding:15px 32px;
   border-radius: 25px;
   background-color: $colour-yellow-btn;
   border : none;
   position: relative;
   transition: all 0.3s ease-in-out;

       span{
           color: $colour-black;            
           position: relative;    
           top:5px;
           font-weight: $font-weght-semiBold-600;
           font-size: 1rem;
           margin-right: 10px;
       }
       &.hover{
           background-color: $colour-black;            
       } */
  border: none;
  color: rgba(25, 25, 25, 0.1);
  background-color: #F9D783;
  padding: 15px 32px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.button-yellow:hover {
  background-color: #191919;
  color: #FFFFFF;
}
.button-yellow i {
  margin-left: 9px;
  font-size: 1em;
}

/* 
.button-beige {     
    padding:15px 32px;
    border-radius: 25px;
    background-color: $colour-yellow-btn;
    border : 1px solid $colour-black;
    position: relative;
    transition: all 0.3s ease-in-out;

        span{
            color: $colour-black;            
            position: relative;    
            top:5px;
            font-weight: $font-weght-semiBold-600;
            font-size: 1rem;
            margin-right: 10px;
        }
        &.hover{
            background-color: $colour-black;

        }
}





.button-black {     
    padding:15px 32px;
    border-radius: 25px;
    background-color: $colour-black;
    border : 1px solid $colour-black;
    position: relative;
    transition: all 0.3s ease-in-out;

        span{
            color: $colour-black;            
            position: relative;    
            top:5px;
            font-weight: $font-weght-semiBold-600;
            font-size: 1rem;
            margin-right: 10px;
        }
        &.hover{
            background-color: $colour-yellow-btn;

        }

} 

 */
.header {
  background-color: #F0EFE9;
  margin-left: auto;
  margin-right: auto;
  /* 
      @media (min-width:768px) {

          width: 720px;    
      }

      @media (min-width:1024px) {

          width: 960px;    
      }

      @media (min-width:1920px) {

          width: 1320px;    
      } 
       @media (min-width:2500px) {

          width: 2048px;    
      } */
}
.header .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav-container .logo {
  padding: 0 45 px 0 0;
}
@media (min-width: 992px) {
  .header .nav-container .fa-bars {
    display: none;
  }
}
.header .nav-container .navigation-bar {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .header .nav-container .navigation-bar {
    display: flex;
  }
}
.header .nav-container .navigation-bar .upper-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
  margin: 22px 0 0 0;
}
.header .nav-container .navigation-bar .upper-info .business-info {
  display: none;
  align-items: center;
  font-weight: 300;
  font-size: 0.9em;
}
@media (min-width: 1200px) {
  .header .nav-container .navigation-bar .upper-info .business-info {
    display: flex;
  }
}
.header .nav-container .navigation-bar .upper-info .business-info span {
  padding: 0 40px 0 0;
  font-size: 1.2rem;
}
.header .nav-container .navigation-bar .upper-info .business-info span i {
  padding: 0 8px 0 0;
}
.header .nav-container .navigation-bar .upper-info .business-info span:nth-child(2) i, .header .nav-container .navigation-bar .upper-info .business-info span:nth-child(3) i {
  padding-left: 15px;
  border-left: 1px solid rgba(25, 25, 25, 0.1);
}
.header .nav-container .navigation-bar .upper-info .social-media {
  display: none;
}
@media (min-width: 1200px) {
  .header .nav-container .navigation-bar .upper-info .social-media {
    display: inline;
  }
}
.header .nav-container .navigation-bar .upper-info .social-media i {
  font-size: 1.2rem;
  margin: 10px 0 20px 15px;
}
.header .nav-container .navigation-bar .lower-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  /* .login-btn {

       border:none;
      border-radius: 25px;
      padding: 10px 25px;
      background-color:$colour-yellow-btn ;

      span{
          font-weight: $font-weght-semiBold-600;                    
          font-size: 1em;                 

      } 

      border: 1px solid $colour-beige;
      color: rgba($colour-black, .1);
      background-color: $colour-yellow-btn;
      padding: 15px 35px;
      border-radius:30px;
      transition: all 0.25s ease-in-out;       

      &:hover{
          background-color: $colour-black;
          color: $colour-white;
      }

      i{
          margin-left: 9px;
          font-size: 1em;
      }

  } */
}
.header .nav-container .navigation-bar .lower-info .navigation-links {
  display: flex;
  align-items: center;
}
.header .nav-container .navigation-bar .lower-info .navigation-links a {
  margin-right: 0 32px 0 0px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  font-size: 1rem;
}
.header .nav-container .navigation-bar .lower-info .navigation-links a.active {
  font-weight: 300;
}
.header .nav-container .navigation-bar .lower-info .navigation-links a.active::after, .header .nav-container .navigation-bar .lower-info .navigation-links a:hover::after {
  font-weight: 300;
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: rgba(25, 25, 25, 0.1);
  left: 50%;
  bottom: -3px;
}