
// Varför colour inte funkar in enskild fil - in MAIN color.scss äre före BASE    
$colour-black: #191919;
// Colour black with diffferent opacity 
$colour-black-op10:rgb(25,25,25,0.9);
$colour-black-op20:rgb(25,25,25,0.8);
$colour-black-op25:rgb(25,25,25,0.75);
$colour-black-op30:rgb(25,25,25,0.7);

$colour-white: #FFFFFF;

$colour-yellow-btn:#F9D783;
$colour-yellow-btn-hover:#f0b623;

$colour-beige: #F0EFE9;

$colour-blue:#BEEBFF;

$colour-red:#F94D1C;
