
// Varför colour inte funkar in enskild fil - in MAIN color.scss äre före BASE    
$colour-black: #191919;


// Colour black with diffferent opacity
$colour-black-op10:rgba(#191919, 0.1);
$colour-black-op30:rgba(#191919, 0.3);
$colour-black-op70:rgba(#191919, 0.7);
$colour-black-op75:rgba(#191919, 0.75);
$colour-black-op80:rgba(#191919, 0.8);
$colour-black-op90:rgba(#191919, 0.9);


//$proba-color:rgba(#ff0000, 0.5); -example how to set SASS

$colour-white: #FFFFFF;

$colour-beige: #F0EFE9;

$colour-yellow-btn:#F9D783;

$colour-blue:#BEEBFF;

$colour-red:#F94D1C;
$colour-grey:#A4A4A4;
$colour-blur:#707070;
