
$colour-black: #191919;
// Colour black with diffferent opacity 
$colour-black-op10:rgb(25,25,25,0.1);
$colour-black-op20:rgb(25,25,25,0.2);
$colour-black-op25:rgb(25,25,25,0.25);
$colour-black-op30:rgb(25,25,25,0.3);

$colour-white: #FFFFFF;

$colour-yellow-btn:#F9D783;
$colour-yellow-btn-hover:#f0b623;

$colour-beige: #F0EFE9;

$colour-blue:#BEEBFF;

$colour-red:#F94D1C;
