// ----------------------- Different Buttons---------------


.button-yellow {      
    border: none;
    color: $colour-black-op10;
    background-color: $colour-yellow-btn;
    padding: 18px 32px 10px 32px;
    border-radius:30px;    
    transition: all 0.3s ease-in-out;
    
                    
    &:hover{
        background-color: $colour-black;
        color: $colour-white;
    }

    i{
        margin-left: 9px;
        font-size: 1em;
    }

}


.button-beige {  
   
    background-color: transparent; 
    border : 1px solid $colour-black; 
    padding: 18px 32px 10px 32px;
    color: $colour-black-op10;
    border-radius:30px;
    transition: all 0.3s ease-in-out;        
    
                    
        &:hover{
            background-color: $colour-black;
            color: $colour-white;
        }

        i{
            margin-left: 9px;
            font-size: 1em;
        }
}



.button-black {     
    
    border : 1px solid $colour-black; 
    color: $colour-white;
    background-color: $colour-black;
    padding: 18px 32px 10px 32px;
    border-radius:30px;
    transition: all 0.3s ease-in-out;       
                            
        &:hover{
            background-color: $colour-yellow-btn;
            color: $colour-black;   
        }

        i{
            margin-left: 9px;
            font-size: 1em;
        }
        
} 

