// ---------------------------FONTS----------------
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Inter:wght@300;400;500;600;700&display=swap');


$font-inter: 'Inter', sans-serif;
$font-dm-sants:'DM sans', sans-serif;

$font-weight-light-300:300;
$font-weight-regular-400:400;
$font-weight-medium-500:500;
$font-weght-semiBold-600:600;
$font-weight-bold-700:700;

/* $font-size  with 14px = 0.875 rem;  //14/16 från roten */
//-----------------------------------Colours --------------------


$colour-black: #191919;
// Colour black with diffferent opacity 
$colour-black-op10:rgb(25,25,25,0.1);
$colour-black-op20:rgb(25,25,25,0.2);
$colour-black-op25:rgb(25,25,25,0.25);
$colour-black-op30:rgb(25,25,25,0.3);

$colour-white: #FFFFFF;

$colour-yellow-btn:#F9D783;
$colour-yellow-btn-hover:#f0b623;

$colour-beige: #F0EFE9;

$colour-blue:#BEEBFF;

$colour-red:#F94D1C;
