.beige-btn {
    
    color: $colour-black;
    border : 1px solid $colour-black;
    padding:15px 32px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    background-color: $colour-beige;
    position: relative;
    
    i{
        font-size: 1rem;
        margin-left: 5px;
    }
    &.hover{
        background-color: $colour-black;
    }
}


.yellow-btn {
    color: $colour-black;
    border : none;
    padding:15px 32px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    background-color: $colour-yellow-btn;
    position: relative;
    
    i{
        font-size: 1rem;
        margin-left: 5px;
    }
    &.hover{
        background-color: $colour-black;
        
    }
}

.black-btn {
    color: $colour-white;
    border : 1px solid $colour-black;
    padding:15px 32px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    background-color: $colour-black;
    position: relative;
    
    i{
        font-size: 1rem;
        margin-left: 5px;
    }
    &.hover{
        background-color: $colour-yellow-btn;
        border:none;
    }
}