.company_logos{
    .container{
        display: none;
        justify-content: space-between;
        align-items: center;
        //margin: 70px auto;
        margin-bottom: 80px;
        margin-top: 80px;

        @media (min-width:1200px) {
            display:flex
        }

    }
}