.header{
    background-color: $colour-beige;
//    padding:20px auto;
    margin-left: auto;
    margin-right: auto;
/* 
    @media (min-width:768px) {
        
        width: 720px;    
    }

    @media (min-width:1024px) {
        
        width: 960px;    
    }

    @media (min-width:1920px) {
        
        width: 1320px;    
    } 
     @media (min-width:2500px) {
        
        width: 2048px;    
    } */

    .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
      
            .logo{
                padding: 0 45 px 0 0 ;          
            }
            .fa-bars{
                @media(min-width: 992px){
                    display: none;
                }
            }

        .navigation-bar{
            width: 100%;
            display:none;
            flex-direction: column;
            justify-content: space-between;

            @media(min-width: 992px){
                display: flex;
            }

            .upper-info{
                display: flex;
                justify-content:space-between;
                align-items: center;
                border-bottom: 1px solid rgba($colour-black, .1);
                margin: 22px 0 0 0;

                .business-info{
                    //flex: 1 1 80%; 
                    display: none;
                    align-items: center;
                    font-weight: $font-weight-light-300;
                    font-size: 0.9em;
                    
                        @media(min-width: 1200px){
                            display: flex;
                        }    
                    // .number, .email, .address{
                    // font-size: 1rem;
                    // font-weight: $font-weight-light-300;
                    // padding-bottom: 5px;
                    // margin-right: 10px;

                    //     &:nth-child(2), &:nth-child(3){
                    //         i{
                    //             padding-left: 15px;
                    //             border-left:1px solid rgba($colour-black, .1); 
                                
                    //         }
                    //     }                  
                    // }

                    p{
                        padding: 0 40px 0 0;
                        font-size: 1.2rem;     
                        
                        i{
                            padding: 0 8px 0 0;
                            
                        }

                        &:nth-child(2), &:nth-child(3){
                            i{
                                padding-left: 15px;
                                border-left:1px solid rgba($colour-black, .1); 
                                        
                            }
                        }
                    }                  
                }



                .social-media{
                    display: none;

                    @media (min-width:1200px) {
                        display:inline
                        
                    }

                    i{
                        font-size: 1.2rem;
                        margin: 10px 0 20px 15px;
                    }           

                   
                }         

        }

        .lower-info{
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin:20px 0;
            
            .navigation-links{
                display: flex;
                align-items: center;

                a{
                    margin-right: 0 32px 0 0px;
                    font-weight: $font-weight-regular-400;
                    display: inline-block;
                    position: relative; 
                    font-size: 1rem; 
                    
                    &.active{
                        font-weight: $font-weight-light-300;
                    }

                    &.active::after,
                    &:hover::after {
                        font-weight: $font-weight-light-300;
                        content:'';
                        position: absolute;
                        height: 2px;
                        width: 15px;
                        background-color: rgba($colour-black, .1);
                        left:50%;
                        bottom: -3px;
                       // transform:translate((calc(50%-15px)));                  

                    }
                }
            
            } 

           
        }

    }


    }

}




