.header{
    background-color: $colour-beige;
    padding:20px auto;
   

    .nav-container{
        display: flex;
      
            .logo{
                margin-right: 4.2rem;                
            }
    .navigation-bar{
        width: 100%;

        .upper-info{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid rgba($colour-black, .1);
            border-bottom: 1px solid $colour-black;

            margin-bottom: 25px;

            .business-info{
                display: flex;

                .number, .email, .address{
                 font-size: 1.07rem;
                 font-weight: $font-weight-light-300;
                 padding-bottom: 12px;
                 margin-right: 20px;

                    &:nth-child(2), &:nth-child(3){
                        i{
                            padding-left: 15px;
                            border-left:1px solid rgba($colour-black, .1); 
                            margin-right: 10px;
                        }
                    }                  
                }
                .social-media{
                    a {
                        margin-left: 20px;
                        font-weight: $font-weight-regular-400;
                        i{
                            color: $colour-black;
                            width: 20px;
                            height: 20px;
                        }                           
                    }
                }
            }         

        }
        .lower-info{
            display:flex;
            justify-content: space-between;
            
            .navigation-links{
                display: flex;
                align-items: center;

                a{
                    margin-right: 20px;
                    font-weight: $font-weight-regular-400;
                }
            }
            button {
                position: relative;
                border:none;
                border-radius: 25px;
                padding: 10px 25px;
                background-color:$colour-yellow-btn ;
            }
        }

    }





    }





}




