.testimonial{
    background-color: $colour-yellow-btn;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -90px; //på Adobe måste ha avstånd !!
    margin-right: -90px; //på Adobe måste ha avstånd!!
    background-color: $colour-white;
    padding: 100px; //uppe 100px  - omöjlig--> 100px auto 

    .title{
        margin-top: 30px;
        margin-bottom: 70px;
    }

    .container{
        display: flex;        
        margin-bottom: 80px;        
        align-items: center ;
        text-align: center;
        gap: 65px;

        @media (max-width:992px){
            gap: 30px;
        }

        @media (max-width:768px) { //funkar inte med min - width ingen logik
            margin-bottom: 30px; 
           flex-direction: column;
            justify-content: space-between;
            gap: 40px;
           
        }

        .flex-box{

            @media (min-width:992px) {
                max-width: 70%;
                min-width: 300px;
            }

            @media (min-width:1200px) {
                max-width: 100%;
                min-width: 300px;
                //column-gap: 60px;
            }
            .stars{
                margin-bottom: 25px;
                i{
                    color: $colour-red;
                }
            }

            p{
               font-size: 1em;
                font-family: $font-inter;
                font-weight: $font-weight-regular-400;                    
            } 

            .client {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top:30px;
                
                .client-img{
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }

                .client-info{
                    margin-left: 15px;
                    
                   h3{
                    font-size: 1.375em;
                    font-family: $font-dm-sants;
                    font-weight: $font-weight-bold-700;
                   }

                }
            }
        }
    } 

    .testimonial-btn {            
        //margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;            
        margin-bottom: 90px; //Adobe 100
        width: 100%;

            @media (min-width:992px) {
                width: auto;   
            }

        .button-black{
            width: 100%;           

            @media (min-width:992px) {
                width: inline;   
            }
        }    

    }


}